@import "bootstrap/dist/css/bootstrap.min.css";

.min-h-screen {
  min-height: 100vh;
}

.footer {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
